/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.bpn-note-form-wrapper {
    display: none;
    padding-bottom: 12px;
}
.bpn-note-form {
    display: block;
    width: 250px;
    height: 100px;
    margin-top: 5px;
}
.bpn-show-note-wrapper {
    padding-bottom: 10px;
}
.bpn-add-note {
    font-size: 11px;
}
.view-icon span {
    vertical-align: middle;
}

.bpn-plugin-note span.dashicons {
    padding-right: 5px;
}
.dashicons-info {
    color: deepskyblue;
}
.dashicons-warning {
    color: red;
}

.bpn-plugin-note a[target="_blank"]:after {
    content: "\f504";
    font-family: dashicons;
    padding-left: 3px;
    position: absolute;
}
